Client.Example/Service References/StorageProxy/neurox.local.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://neurox.local" elementFormDefault="qualified" targetNamespace="http://neurox.local" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Federal.Storage" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SetServiceNodeState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodeType" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Federal.Storage" minOccurs="0" name="nodeState" type="q1:ServiceNodeState" />
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetServiceNodeStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegisteredService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegisteredServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRegisteredServiceResult" nillable="true" type="tns:ServiceRegistration" />
        <xs:element minOccurs="0" name="entities" nillable="true" type="tns:ArrayOfServiceEntityBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ServiceRegistration">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LocalState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceRegistration" nillable="true" type="tns:ServiceRegistration" />
  <xs:complexType name="ArrayOfServiceEntityBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceEntityBase" nillable="true" type="tns:ServiceEntityBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceEntityBase" nillable="true" type="tns:ArrayOfServiceEntityBase" />
  <xs:complexType name="ServiceEntityBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LocalState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceEntityBase" nillable="true" type="tns:ServiceEntityBase" />
  <xs:complexType name="ProcessEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceEntityBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GridIds" nillable="true" type="q2:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProcessEntity" nillable="true" type="tns:ProcessEntity" />
  <xs:complexType name="SensorEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceEntityBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SensorEntity" nillable="true" type="tns:SensorEntity" />
</xs:schema>