Client.Example/Service References/StorageProxy/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="StorageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IStorageService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://neurox.local" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Federal.Storage" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStorageService_SetServiceNodeState_InputMessage">
    <wsdl:part xmlns:q1="http://neurox.local" name="parameters" element="q1:SetServiceNodeState" />
  </wsdl:message>
  <wsdl:message name="IStorageService_SetServiceNodeState_OutputMessage">
    <wsdl:part xmlns:q2="http://neurox.local" name="parameters" element="q2:SetServiceNodeStateResponse" />
  </wsdl:message>
  <wsdl:message name="IStorageService_GetRegisteredService_InputMessage">
    <wsdl:part xmlns:q3="http://neurox.local" name="parameters" element="q3:GetRegisteredService" />
  </wsdl:message>
  <wsdl:message name="IStorageService_GetRegisteredService_OutputMessage">
    <wsdl:part xmlns:q4="http://neurox.local" name="parameters" element="q4:GetRegisteredServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IStorageService">
    <wsdl:operation name="SetServiceNodeState">
      <wsdl:input wsaw:Action="http://neurox.local/IStorageClient/SetServiceNodeState" message="tns:IStorageService_SetServiceNodeState_InputMessage" />
      <wsdl:output wsaw:Action="http://neurox.local/IStorageClient/SetServiceNodeStateResponse" message="tns:IStorageService_SetServiceNodeState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegisteredService">
      <wsdl:input wsaw:Action="http://neurox.local/IStorageServiceBase/GetRegisteredService" message="tns:IStorageService_GetRegisteredService_InputMessage" />
      <wsdl:output wsaw:Action="http://neurox.local/IStorageServiceBase/GetRegisteredServiceResponse" message="tns:IStorageService_GetRegisteredService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IStorageService" type="tns:IStorageService">
    <wsp:PolicyReference URI="#NetTcpBinding_IStorageService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SetServiceNodeState">
      <soap12:operation soapAction="http://neurox.local/IStorageClient/SetServiceNodeState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegisteredService">
      <soap12:operation soapAction="http://neurox.local/IStorageServiceBase/GetRegisteredService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StorageService">
    <wsdl:port name="NetTcpBinding_IStorageService" binding="tns:NetTcpBinding_IStorageService">
      <soap12:address location="net.tcp://localhost:1010/Neurox/StorageService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1010/Neurox/StorageService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>